{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Редактирование профиля
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Редактирование профиля - {{ request.user.username }}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username">Имя пользователя:</label>
            <input type="text" name="username" class="form-control" id="id_username" value="{{ form.username|default:'' }}" required>
          </div>
          <div class="form-group">
            <label for="id_first_name">Имя:</label>
            <input type="text" name="first_name" class="form-control" id="id_first_name" value="{{ form.first_name|default:'' }}">
          </div>
          <div class="form-group">
            <label for="id_last_name">Фамилия:</label>
            <input type="text" name="last_name" class="form-control" id="id_last_name" value="{{ form.last_name|default:'' }}">
          </div>
          <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}